{% extends 'base.html.twig' %}


{%block main_content%}
  {%if form is defined%}
    <ul class="actions"><li><a href="{{path('console-load')}}">{{ "Load an existing query"|trans }}</a></li></ul>
    {{form(form, {'attr': {'id': 'form_console'}})}}
  {%endif%}
  <!--
  {%if results is defined%}
    {{results|raw}}
  {%endif%}
  -->
  {%if engine_response is defined%}
    <h3>{{"Query results"|trans}}</h3>
    <div class="console-sumary">
      <p><strong>{{"Total results"|trans}}:</strong> {{engine_response.total}}
      <p><strong>{{"Displayed results count"|trans}}:</strong> {{engine_response.hits|length}}
      <ul class="actions">
      {% if save_url is defined %}
        <li><a href="{{ save_url }}">{{ "Save this query"|trans }}</a></li>
      {% endif %}
      {% if clone_url is defined %}
        <li><a href="{{ clone_url }}">{{ "Clone this query"|trans }}</a></li>
      {% endif %}
      </ul>
    </div>

    {% if facets is defined %}
      <h3>Facets</h3>
      <div class="facets">{{ facets|raw }}</div>
    {% endif %}
    <div class="console-table-wrapper">
      <table class="console-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Score</th>
            {%for col in engine_response.cols%}
            <th>{{col}}</th>  
            {%endfor%}
          </tr>
        </thead>
        <tbody>
          {%for hit in engine_response.hits%}
          <tr>
            <td>{{hit._id}}</td>
            <td>{{hit._type}}</td>
            <td>{{hit._score}}</td>
            {%for col in engine_response.cols%}
              {%if hit._source[col] is defined%}
                <td>
                  {%if hit._source[col] is not iterable %}
                    {{hit._source[col]|raw}}
                  {%else%}
                    Array
                  {%endif%}
                </td>
              {%else%}
                <td>-</td>
              {%endif%}
            {%endfor%}
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  {%endif%}
  {%if exception is defined%}
    {{exception}}
  {%endif%}

  {%if list is defined%}
    <table id="saved-queries-table">
      <thead>
      <tr>
        <th>{{'Target'|trans}}</th>
        <th>{{'Query'|trans}}</th>
        <th>{{'ID'|trans}}</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      {%set class='even'%}
      {%for query in list%}
        {%if class=='even'%}{%set class='odd'%}{%else%}{%set class='even'%}{%endif%}
        <tr class="{{class}}">
          <td>{{query.target}}</td>
          <td>{{query.definition}}</td>
          <td>{{query.id}}</td>
          <td class="actions">
            <ul>
              <li><a href="{{path('console', {'id': query.id})}}">{{'Load'|trans}}</a></li>
              <li><a href="{{path('console-delete', {'id': query.id})}}">{{'Delete'|trans}}</a></li>
            </ul>
          </td>
        </tr>
      {%endfor%}
      </tbody>
    </table>
  {% endif %}
{%endblock%}
