{% extends "base.html.twig" %}

{%block main_content%}
  {% if server_info != null and info is defined %}
    <p class="server-version">
      <strong>{%trans%}Server version{%endtrans%}:</strong>
      <span>{{server_info.version.number}}</span>
    </p>
    {%if info|length > 0%}
      <div class="indices-table widget">
        <div class="widget-title">{%trans%}Indexes on the server{%endtrans%}</div>
        <div class="widget-content">
          <table>
          <thead>
            <tr>
              <th>{{'Index name'|trans}}</th>
              <th>{{'Index size'|trans}}</th>
            </tr>
          </thead>
          <tbody>
            {%set class='even'%}
            {%for index_name, stat in info%}
            {%if class=='even'%}{%set class='odd'%}{%else%}{%set class='even'%}{%endif%}
            <tr class="{{class}}">
              <td>{{index_name}}</td>
              <td class="numeric">{{stat.size}}</td>
            </tr>
            {%endfor%}
          </tbody>
          </table>
        </div>
      </div>
    {% else %}
      <p>No index found in server</p>
    {%endif%}
  {% else %}
    <p>{{ 'Elastic server is unavailable. Please check your settings'|trans }}</p>
  {% endif %}

{%endblock%}