{% extends 'base.html.twig' %}


{%block main_content%}
  {%if indexes is defined%}
    <div class="widget">
      <div class="widget-title">{%trans%}Indexes on the server{%endtrans%}</div>
      {% if is_granted('ROLE_INDEX_MANAGER') %}
      <div class="widget-actions">
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{path('index-add')}}" class="fa fa-plus">Add index</a>
        {% endif %}
        <a href="{{path('synonyms-list')}}" class="fas fa-book">{{'See synonyms dictionaries'|trans}}</a>
      </div>
      {% endif %}
      <div class="widget-content">
        <table id="index-table">
          <thead>
            <tr>
              <th>{{'Index name'|trans}}</th>
              <th>{{'Index size'|trans}}</th>
              <th>{{'Mappings'|trans}}</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            {%set class='even'%}
            {%for index_name, stat in indexes%}
              {%if class=='even'%}{%set class='odd'%}{%else%}{%set class='even'%}{%endif%}
              <tr class="{{class}}">
                <td>{{index_name}}</td>
                <td class="numeric">{{stat.size}}</td>
                <td>
                  {%if stat.mappings is defined%}
                  <ul>
                  {%for mapping in stat.mappings%}
                    <li class="index-mapping">
                      <i class="fas fa-table"></i><a href="{{path('index-edit-mapping', {'index_name': index_name, 'mapping_name': mapping.name})}}">{{mapping.name}}</a>
                      <div class="mapping-stat"><ul><li>0<span> documents</span></li><li>0<span> fields</span></li></ul></div>
                    </li>
                  {%endfor%}
                  </ul>
                  {%endif%}
                </td>
                <td class="actions">
                  <ul>
                    {% if is_granted('ROLE_INDEX_MANAGER') %}
                    <li><a href="{{path('index-edit', {'index_name': index_name})}}" class="index-edit-settings">{{'Edit settings'|trans}}</a></li>
                    <li><a href="{{path('index-add-mapping', {'index_name': index_name})}}" class="index-add-mapping">{{'Add mapping'|trans}}</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{path('index-delete', {'index_name': index_name})}}" class="index-delete action-delete">{{'Delete index'|trans}}</a></li>
                    {% endif %}
                  </ul>
                </td>
              </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  {%endif%}
  {%if form is defined%}
    <div class="widget">
      <div class="widget-title">{{ "Index settings"|trans }}</div>
      <div class="widget-content">
        {{form(form)}}
      </div>
    </div>
  {%endif%}
  <script type="text/javascript">
    var __index_analyzers = [];
    var __field_types = [];
    var __date_formats = [];
  {%if analyzers is defined%}
    {%for analyzer in analyzers%}
    __index_analyzers.push('{{analyzer}}');
    {%endfor%}
  {%endif%}
    {%if fieldTypes is defined%}
    {%for fieldType in fieldTypes%}
    __field_types.push('{{fieldType}}');
    {%endfor%}
  {%endif%}
  {%if serverVersion is defined%}
    __elastic_server_version = {{ serverVersion }};
  {%endif%}
  {%if dateFormats is defined%}
    {%for dateFormat in dateFormats%}
    __date_formats.push('{{dateFormat}}');
    {%endfor%}
  {%endif%}
  </script>
{%endblock%}