{% extends 'base.html.twig' %}


{%block main_content%}
  {%if searchPages is defined%}
    <div class="widget">
      <div class="widget-title">{%trans%}List of search pages{%endtrans%}</div>
      {% if is_granted('ROLE_SEARCH_PAGE_CREATOR') %}
        <div class="widget-actions">
          <a href="{{path('search-page-add')}}" class="fa fa-plus">{{'Add search page'|trans}}</a>
        </div>
      {% endif %}
      <div class="widget-content">
        {%if searchPages|length > 0%}
        <table>
          <thead>
            <tr>
              <th>{{'Name'|trans}}</th>
              <th>{{'Mapping'|trans}}</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            {%set class='even'%}
            {%for searchPage in searchPages%}
              {%if class=='even'%}{%set class='odd'%}{%else%}{%set class='even'%}{%endif%}
              <tr class="{{class}}">
                <td>{{searchPage.name}}</td>
                <td>{{searchPage.mapping}}</td>
                <td class="actions">
                  <ul>
                    <li><a href="{{path('search-page-display', {'id': searchPage.id})}}" target="_blank">{{'Open'|trans}}</a></li>
                    <li><a href="{{path('search-page-edit', {'id': searchPage.id})}}">{{'Edit'|trans}}</a></li>
                    {%  if is_granted('ROLE_SEARCH_PAGE_CREATOR') %}
                    <li><a href="{{path('search-page-delete', {'id': searchPage.id})}}" class="search-page-delete">{{'Delete'|trans}}</a></li>
                    {% endif %}
                  </ul>
                </td>
              </tr>
            {%endfor%}
          </tbody>
        </table>
        {% else %}
          <p>{% trans %}No items!{% endtrans %}</p>
        {%endif%}
      </div>
    </div>
  {%endif%}
  {%if form is defined%}
    {{form(form, {'attr': {'id': 'form_search_page'}})}}
  {%endif%}
  <script type="text/javascript">
    
  </script>
{%endblock%}