{% extends 'base.html.twig' %}


{%block main_content%}
  {%if users is defined%}
    <div class="widget">
      <div class="widget-title">{% trans %}List of users{% endtrans %}</div>
      <div class="widget-actions">
        <a href="{{path('user-add')}}" class="fa fa-plus">{{'Add user'|trans}}</a>
      </div>
      <div class="widget-content">
        {%if users|length > 0%}
        <table>
          <thead>
            <tr>
              <th>{{'Username'|trans}}</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            {%set class='even'%}
            {%for user in users%}
              {%if class=='even'%}{%set class='odd'%}{%else%}{%set class='even'%}{%endif%}
              <tr class="{{class}}">
                <td>{{user.uid}}</td>
                <td class="actions">
                  <ul>
                    <li><a href="{{ path('user-edit', {uid: user.uid}) }}">{{'Edit'|trans}}</a></li>
                    {% if app.user.username != user.uid %}
                    <li><a href="{{ path('user-delete', {uid: user.uid}) }}" class="user-delete action-delete">{{'Delete'|trans}}</a></li>
                    {% endif %}
                  </ul>
                </td>
              </tr>
            {%endfor%}
          </tbody>
        </table>
        {% else %}
          <p>{% trans %}No items!{% endtrans %}</p>
        {%endif%}
      </div>
    </div>
  {%endif%}
  {%if form is defined%}
    {{form(form, {'attr': {'id': 'form_user'}})}}
  {%endif%}
  <script type="text/javascript">
    
  </script>
{%endblock%}